/* Custom Jumbotron-Narrow CSS layout for YF personal website */

body{
	background:#252121;
}

h1{
	margin: .67em 0;
	font-size: 0.5em;
}


/* Custom Classes */

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #777777;
}

.h1{
	font-size: 24px;
}
